<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>upload file</title>
</head>
<body>

    <h2>upload file<h2>
    <form action="/teste" method="post" enctype="multipart/form-data">
        <input type="file" placeholder="file" name="img">
        <button id="btn" type="submit">enviar</button>
    </form> 

    <script>
      var btn = document.getElementById('btn');
      btn.pr
    </script>

</body>
</html>